[dir="rtl"] {
  body {
    direction: rtl;
    text-align: right;

    * {
      letter-spacing: 0 !important;
    }

    .home {
      &__check {
        &__wrapper {
          p {
            font-size: 4em !important;
          }
        }
      }
    }

    .branding {
      &__header {
        h1 {
          font-size: 6em !important;
          line-height: 0.15 !important;

          @media screen and (max-width: 599px) {
            font-size: 4em !important;
            line-height: 0 !important;
          }
        }

        ul {
          li {
            span {
              margin-left: 0 !important;
              margin-right: -1.2em !important;
            }
          }
        }
      }

      &__care {
        h4 {
          font-size: 5em !important;
          margin-left: 0 !important;

          @media screen and (max-width: 599px) {
            text-align: center !important;
          }
        }
      }
    }

    .product-design {
      &__header {
        ul {
          li {
            span {
              margin-left: 0 !important;
              margin-right: -1.2em !important;
            }
          }
        }
      }

      &__steps {
        &__first-step,
        &__second-step,
        &__product-show {
          ul {
            li {
              span:first-of-type {
                margin-left: 0 !important;
                margin-right: -1.5em !important;
              }
            }
          }
        }
      }

      &__care {
        h4 {
          font-size: 5em !important;
          margin-left: 0 !important;

          @media screen and (max-width: 599px) {
            text-align: center !important;
          }
        }
      }
    }
  }
}
