<main class="work">
  <div class="work__wrapper">
    <div class="work__header" fxLayout="row" fxLayoutAlign="center center">
      <h1
        [fxFlexOrder]="currentDir === 'rtl' ? 2 : 1"
        [fxFlex]="currentDir === 'rtl' ? 28 : 46"
        [fxFlex.lt-sm]="currentDir === 'rtl' ? 55 : 90"
        translate="WORK_TITLE"
      ></h1>
      <figure
        fxHide.lt-md
        [fxFlexOrder]="currentDir === 'rtl' ? 1 : 2"
        fxFlex="30"
      >
        <cl-image class="image" public-id="header-bg_qqixin.png"> </cl-image>
      </figure>
    </div>
  </div>
  <section
    class="work__gallery"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <h2 translate="WORK_TITLE"></h2>

    <section
      *ngIf="!(isResponsive$ | async)"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <!-- Start of first row-->
      <div fxLayout="row">
        <!-- Start of first column of first row-->
        <figure fxFlex="50" (click)="open(0)">
          <cl-image class="image" public-id="1_crdbdh.jpg"> </cl-image>
        </figure>
        <!-- End of first column of first row-->
        <!-- Start of second column of first row-->
        <div fxFlex="50" fxLayout="column">
          <!-- Start of first row of second column of first row-->
          <div fxLayout="row">
            <figure fxFlex="50" (click)="open(1)">
              <cl-image class="image" public-id="2_j5phor.jpg"> </cl-image>
            </figure>
            <figure fxFlex="50" (click)="open(2)">
              <cl-image class="image" public-id="3_uppyfb.jpg"> </cl-image>
            </figure>
          </div>
          <!-- End of first row of second column of first row-->
          <!-- Start of second row of second column of first row-->
          <div fxLayout="row">
            <figure fxFlex="50" (click)="open(3)">
              <cl-image class="image" public-id="4_bnqn5r.jpg"> </cl-image>
            </figure>
            <figure fxFlex="50" (click)="open(4)">
              <cl-image class="image" public-id="5_si6u4c.jpg"> </cl-image>
            </figure>
          </div>
          <!-- End of second row of second column of first row-->
        </div>
        <!-- End of second column of first row-->
      </div>
      <!-- End of first row-->

      <!-- Start of second row-->
      <div fxLayout="row">
        <figure (click)="open(5)">
          <cl-image class="image" public-id="6_vgvspe.jpg"> </cl-image>
        </figure>
        <figure (click)="open(6)">
          <cl-image class="image" public-id="7_bs1xve.jpg"> </cl-image>
        </figure>
        <figure fxFlex="30" (click)="open(7)">
          <cl-image class="image" public-id="8_lfbj1h.jpg"> </cl-image>
        </figure>
      </div>
      <!-- End of second row-->

      <!-- Start of third row-->
      <div fxLayout="row">
        <figure fxFlex="35" (click)="open(8)">
          <cl-image class="image" public-id="9_dhmrny.jpg"> </cl-image>
        </figure>
        <figure fxFlex="35" (click)="open(9)">
          <cl-image class="image" public-id="10_ae8dnv.jpg"> </cl-image>
        </figure>
        <figure (click)="open(10)">
          <cl-image class="image" public-id="11_xv8kh2.jpg"> </cl-image>
        </figure>
      </div>
      <!-- End of third row-->

      <!-- Start of fourth row-->
      <div fxLayout="row">
        <!-- Start of first column of fourth row-->
        <div fxLayout="column" fxFlex="50">
          <!-- Start of first row of first column of fourth row-->
          <div fxLayout="row">
            <figure (click)="open(11)">
              <cl-image class="image" public-id="12_kmpjg1.jpg"> </cl-image>
            </figure>
            <figure (click)="open(12)">
              <cl-image class="image" public-id="13_zrwh99.jpg"> </cl-image>
            </figure>
          </div>
          <!-- End of first row of first column of fourth row-->
          <!-- Start of second row of firtst column of fourth row-->
          <div fxLayout="row">
            <figure fxFlex="40" (click)="open(13)">
              <cl-image class="image" public-id="14_cykr2x.jpg"> </cl-image>
            </figure>
            <figure fxFlex="60" (click)="open(14)">
              <cl-image class="image" public-id="15_utkd4j.jpg"> </cl-image>
            </figure>
          </div>
          <!-- End of second row of first column of fourth row-->
        </div>
        <!-- End of first column of fourth row-->
        <!-- Start of second column of fourth row-->
        <figure fxFlex="50" (click)="open(15)">
          <cl-image class="image" public-id="16_dqlenf.jpg"> </cl-image>
        </figure>
        <!-- End of second column of fourth row-->
      </div>
      <!-- End of fourth row-->

      <!-- Start of fifth row-->
      <div fxLayout="row">
        <figure (click)="open(16)">
          <cl-image class="image" public-id="17_dtak5b.jpg"> </cl-image>
        </figure>
        <figure (click)="open(17)">
          <cl-image class="image" public-id="18_ywl7hs.jpg"> </cl-image>
        </figure>
        <figure (click)="open(18)">
          <cl-image class="image" public-id="19_r3khk3.jpg"> </cl-image>
        </figure>
      </div>
      <!-- End of fifth row-->

      <!-- Start of sixth row-->
      <div fxLayout="row">
        <figure (click)="open(19)">
          <cl-image class="image" public-id="20_hufyky.jpg"> </cl-image>
        </figure>
        <figure (click)="open(20)">
          <cl-image class="image" public-id="21_tsklkk.jpg"> </cl-image>
        </figure>
        <figure (click)="open(21)">
          <cl-image class="image" public-id="22_yl8jxa.jpg"> </cl-image>
        </figure>
      </div>
      <!-- End of sixth row-->

      <!-- Start of seventh row-->
      <div fxLayout="row">
        <figure fxFlex="50" (click)="open(22)">
          <cl-image class="image" public-id="23_lguiig.jpg"> </cl-image>
        </figure>
        <figure fxFlex="50" (click)="open(23)">
          <cl-image class="image" public-id="24_tjsouo.jpg"> </cl-image>
        </figure>
      </div>
      <!-- End of seventh row-->

      <!-- Start of eighth row-->
      <div fxLayout="row">
        <figure fxFlex="50" (click)="open(24)">
          <cl-image class="image" public-id="25_diifjn.jpg"> </cl-image>
        </figure>
        <figure fxFlex="50" (click)="open(25)">
          <cl-image class="image" public-id="26_anpzqc.jpg"> </cl-image>
        </figure>
      </div>
      <!-- End of eighth row-->
    </section>

    <section
      *ngIf="isResponsive$ | async"
      fxLayout="column"
      fxLayoutAlign="center center"
      class="responsive"
    >
      <figure *ngFor="let image of images; let i = index">
        <img [src]="image" class="image" (click)="open(i)" />
      </figure>
    </section>
  </section>
</main>
