@import "./src/styles.scss";

.work {
  &__wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }

  &__header {
    background-image: url("../../../assets/images/rectangle.png"),
      url("../../../assets/images/ellipse.png"),
      url("../../../assets/images/header-bg.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 85% 0%, 20% 85%, 50% 75%;
    background-size: auto, auto, 55%;
    padding: 16em 0;

    h1 {
      margin: 0;
      font-size: 7em;
      margin-left: 2.7em;
      border-bottom: 15px solid $secondary-color;
      line-height: 0.28;
      display: inline-block;
    }
  }

  &__gallery {
    max-width: 1240px;
    margin: 0 auto;
    padding: 6em 0 0;

    h2 {
      font-size: 2em;
      border-bottom: 4px solid $secondary-color;
      line-height: 1.1;
      display: inline-block;
    }

    figure {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      img {
        object-fit: cover;
      }
    }
  }
}
