@import "./src/styles.scss";

.work {
  &__wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }

  &__header {
    background-image: url("../../../assets/images/rectangle.png"),
      url("../../../assets/images/ellipse.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 85% 0%, 20% 85%;
    background-size: auto, auto;

    @media screen and (max-width: 959px) {
      background-image: url("../../../assets/images/rectangle.png"),
        url("../../../assets/images/ellipse.png");
      background-repeat: no-repeat, no-repeat;
      background-position: 85% 0%, 20% 85%;
      padding-bottom: 2em;
      padding-top: 12em;
      font-size: 7px;
    }

    h1 {
      color: gray;
      margin: 0;
      font-size: 10em;
      text-align: center;
      border-bottom: 15px solid $secondary-color;
      line-height: 0.37;
      display: inline-block;
      text-transform: uppercase;

      @media screen and (max-width: 599px) {
        margin-bottom: 0.5em;
        line-height: 0.26;
      }
    }

    figure {
      padding: 0;
      margin: 0;
      padding-top: 4em;
      position: relative;
      backface-visibility: hidden;
      overflow: hidden;
    }
  }

  &__gallery {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;

    .responsive {
      @media screen and (max-width: 599px) {
        max-width: 599px;
        padding: 0 1em;
      }
    }

    h2 {
      font-size: 2em;
      border-bottom: 4px solid $secondary-color;
      line-height: 1.3;
      display: inline-block;
      margin-bottom: 2em;
      text-transform: uppercase;

      @media screen and (max-width: 599px) {
        display: none;
      }
    }

    figure {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      .content-overlay {
        background: linear-gradient(to right, #f9cf2c, transparent);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;

        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
      }

      .content-text {
        position: absolute;
        font-size: 6em;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        left: 57px;
        bottom: 20px;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }

      .fadeIn-right {
        left: 80%;
      }

      .fadeIn-top {
        top: 20%;
      }

      &:hover {
        .content-overlay {
          opacity: 1;
        }

        .content-text {
          transition: all 0.5s ease-in-out;
          opacity: 1;
        }
      }
    }
  }
}

.image {
  width: 100%;
  height: 100%;
}
