<main class="work">
  <div class="work__wrapper">
    <div class="work__header">
      <h1>Our work</h1>
    </div>
  </div>
  <section
    class="work__gallery"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <h2>Our work</h2>

    <section fxLayout="column" fxLayoutAlign="center center">
      <!-- Start of first row-->
      <div fxLayout="row">
        <!-- Start of first column of first row-->
        <figure fxFlex="50">
          <img src="assets/images/work/1.png" alt="" />
        </figure>
        <!-- End of first column of first row-->
        <!-- Start of second column of first row-->
        <div fxFlex="50" fxLayout="column">
          <!-- Start of first row of second column of first row-->
          <div fxLayout="row">
            <figure fxFlex="50">
              <img src="assets/images/work/2.png" alt="" />
            </figure>
            <figure fxFlex="50">
              <img src="assets/images/work/3.png" alt="" />
            </figure>
          </div>
          <!-- End of first row of second column of first row-->
          <!-- Start of second row of second column of first row-->
          <div fxLayout="row">
            <figure fxFlex="50">
              <img src="assets/images/work/4.png" alt="" />
            </figure>
            <figure fxFlex="50">
              <img src="assets/images/work/5.png" alt="" />
            </figure>
          </div>
          <!-- End of second row of second column of first row-->
        </div>
        <!-- End of second column of first row-->
      </div>
      <!-- End of first row-->

      <!-- Start of second row-->
      <div fxLayout="row">
        <figure fxFlex="35">
          <img src="assets/images/work/6.png" alt="" />
        </figure>
        <figure fxFlex="35">
          <img src="assets/images/work/7.png" alt="" />
        </figure>
        <figure fxFlex="30">
          <img src="assets/images/work/8.png" alt="" />
        </figure>
      </div>
      <!-- End of second row-->

      <!-- Start of third row-->
      <div fxLayout="row">
        <figure fxFlex="30">
          <img src="assets/images/work/9.png" alt="" />
        </figure>
        <figure fxFlex="35">
          <img src="assets/images/work/10.png" alt="" />
        </figure>
        <figure fxFlex="35">
          <img src="assets/images/work/11.png" alt="" />
        </figure>
      </div>
      <!-- End of third row-->

      <!-- Start of fourth row-->
      <div fxLayout="row">
        <!-- Start of first column of fourth row-->
        <div fxLayout="column" fxFlex="50">
          <!-- Start of first row of first column of fourth row-->
          <div fxLayout="row">
            <figure fxFlex="50">
              <img src="assets/images/work/12.png" alt="" />
            </figure>
            <figure fxFlex="50">
              <img src="assets/images/work/13.png" alt="" />
            </figure>
          </div>
          <!-- End of first row of first column of fourth row-->
          <!-- Start of second row of firtst column of fourth row-->
          <div fxLayout="row">
            <figure fxFlex="50">
              <img src="assets/images/work/14.png" alt="" />
            </figure>
            <figure fxFlex="50">
              <img src="assets/images/work/15.png" alt="" />
            </figure>
          </div>
          <!-- End of second row of first column of fourth row-->
        </div>
        <!-- End of first column of fourth row-->
        <!-- Start of second column of fourth row-->
        <figure fxFlex="50">
          <img src="assets/images/work/16.png" alt="" />
        </figure>
        <!-- End of second column of fourth row-->
      </div>
      <!-- End of fourth row-->

      <!-- Start of fifth row-->
      <div fxLayout="row">
        <figure>
          <img src="assets/images/work/17.png" alt="" />
        </figure>
        <figure>
          <img src="assets/images/work/18.png" alt="" />
        </figure>
        <figure>
          <img src="assets/images/work/19.png" alt="" />
        </figure>
      </div>
      <!-- End of fifth row-->

      <!-- Start of sixth row-->
      <div fxLayout="row">
        <figure>
          <img src="assets/images/work/20.png" alt="" />
        </figure>
        <figure>
          <img src="assets/images/work/21.png" alt="" />
        </figure>
        <figure>
          <img src="assets/images/work/22.png" alt="" />
        </figure>
      </div>
      <!-- End of sixth row-->

      <!-- Start of seventh row-->
      <div fxLayout="row">
        <figure fxFlex="50">
          <img src="assets/images/work/23.png" alt="" />
        </figure>
        <figure fxFlex="50">
          <img src="assets/images/work/24.png" alt="" />
        </figure>
      </div>
      <!-- End of seventh row-->

      <!-- Start of eighth row-->
      <div fxLayout="row">
        <figure fxFlex="50">
          <img src="assets/images/work/25.png" alt="" />
        </figure>
        <figure fxFlex="50">
          <img src="assets/images/work/26.png" alt="" />
        </figure>
      </div>
      <!-- End of eighth row-->
    </section>
  </section>
</main>
