<nav fxLayout="column" fxLayoutAlign="start center">
  <fa-icon
    [icon]="closeIcon"
    fxFlexAlign="flex-end"
    (click)="close()"
    class="closeIcon"
  ></fa-icon>
  <div fxLayout fxLayoutAlign="center center">
    <img src="assets/images/dt-logo.png" alt="" />
  </div>
  <ul
    class="nav__items"
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
    fxFlex="50"
  >
    <li>
      <a
        routerLink="/home"
        (click)="close()"
        routerLinkActive="nav__active"
        translate="HOME-NAVBAR_HOME"
      ></a>
    </li>
    <li>
      <a
        routerLink="/our-work"
        (click)="close()"
        routerLinkActive="nav__active"
        translate="HOME-NAVBAR_OUR_WORK"
      ></a>
    </li>
    <li>
      <a
        routerLink="/blog"
        (click)="close()"
        routerLinkActive="nav__active"
        translate="HOME-NAVBAR_BLOG"
      ></a>
    </li>
    <li>
      <a
        (click)="triggerScrollToContactUs()"
        routerLinkActive="nav__active"
        translate="HOME-NAVBAR_CONTACT_US"
      ></a>
    </li>
    <li class="nav__language">
      <a (click)="toggleLanguage()" translate="HOME-NAVBAR_LANGUAGE"></a>
    </li>
  </ul>
</nav>
