<div class="product-design">
  <div class="product-design__wrapper">
    <div class="product-design__header" fxLayout="column">
      <h1 fxFlexAlign="start" fxLayout.lt-md="center">Product Design</h1>
      <ul
        fxLayout="column"
        fxLayoutAlign="center start"
        fxFlexAlign.lt-md="center"
      >
        <li style="margin-left: -2.5em">
          <span>&#x2752;</span>
          We transfer your initial ideas and perceptions to your product
        </li>
        <li>into high-quality digital photos with 3D technology.</li>
      </ul>
    </div>
  </div>

  <div
    class="product-design__steps"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <h3>Product's name</h3>
    <p>
      We are working to study the suitability of the product to the needs of
      users through the method of 5D.
    </p>
    <figure fxLayout>
      <cl-image class="image" public-id="01-min_zyf3k4.png"> </cl-image>
    </figure>
    <div
      class="product-design__steps__first-step"
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <figure fxFlex="40">
        <cl-image class="image" public-id="02-min_ndl97j.png"> </cl-image>
      </figure>
      <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
        <h4>First step</h4>
        <ul>
          <li>
            <span>&#x2752;</span><span>Exploration</span
            ><span>Discover your new market</span
            ><span>
              Analyzing consumer demand for competitors' emerging products
            </span>
          </li>
          <li>
            <span>&#x2752;</span><span>Selection</span
            ><span>Define the target group</span
            ><span
              >Then determine customer needs and manufacturing materials
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div fxLayout>
      <figure fxLayout fxLayoutAlign="center center">
        <cl-image public-id="05-min_gegt6b.png"> </cl-image>
      </figure>
      <figure fxLayout fxLayoutAlign="center center">
        <cl-image class="image" public-id="04-min_ougcob.png"> </cl-image>
      </figure>
      <figure fxLayout fxLayoutAlign="center center">
        <cl-image class="image" public-id="03-min_uhkuhx.png"> </cl-image>
      </figure>
    </div>
    <div
      class="product-design__steps__second-step"
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
        <h4>Second step</h4>
        <ul>
          <li>
            <span>&#x2752;</span><span>Design</span
            ><span
              >3D design for several models with manufacturing details </span
            ><span>
              To test it and then baptize the selection of the required design
            </span>
          </li>
          <li>
            <span>&#x2752;</span><span>Product testing</span
            ><span>Test a prototype on clients</span
            ><span
              >And make adjustments and improvements in order to develop the
              design
            </span>
          </li>
        </ul>
      </div>
      <figure fxFlex="40">
        <img
          width="75"
          height="75"
          src="../../../assets/images/product-design.gif"
          alt=""
        />
      </figure>
    </div>
    <div fxLayout>
      <figure fxLayout fxLayoutAlign="center center">
        <cl-image class="image" public-id="09-min_vzrokg.png"> </cl-image>
      </figure>
      <figure fxLayout fxLayoutAlign="center center">
        <cl-image class="image" public-id="08-min_kofvma.png"> </cl-image>
      </figure>
      <figure fxLayout fxLayoutAling="center center">
        <cl-image class="image" public-id="07-min_yrugre.png"> </cl-image>
      </figure>
    </div>
    <div fxLayout>
      <figure fxLayout fxLayoutAlign="center center">
        <cl-image class="image" public-id="12-min_s5qroe.png"> </cl-image>
      </figure>
      <figure fxLayout fxLayoutAlign="center center">
        <cl-image class="image" public-id="11-min_s2jh0j.png"> </cl-image>
      </figure>
      <figure fxLayout fxLayoutAling="center center">
        <cl-image class="image" public-id="10-min_trkrhs.png"> </cl-image>
      </figure>
    </div>
    <div fxLayout fxLayoutAling="center center">
      <figure fxFlex="50">
        <cl-image class="image" public-id="13-min_n0wd1o.png"> </cl-image>
      </figure>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
        <h4>Product Show</h4>
        <ul>
          <li>
            <span>&#x2752;</span><span>Design</span
            ><span
              >The goal of this final stage is to achieve product visibility and
              verification</span
            ><span>
              From meeting customer needs by measuring their product experience
            </span>
          </li>
          <li>
            <span>&#x2752;</span><span>Product testing</span
            ><span
              >We give great attention to the way packaging is designed </span
            ><span>To show the world a product that grabs attention </span>
          </li>
        </ul>
      </div>
    </div>
    <div fxLayout fxLayoutAlign="center center">
      <figure fxFlex="80" fxLayout fxLayoutAlign="center center">
        <cl-image class="image" public-id="Group_189_2x-min_ko8ofb.png">
        </cl-image>
      </figure>
    </div>
    <div
      class="product-design__care"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <figure>
        <cl-image class="image" public-id="Group_211_ttkzx5.png"> </cl-image>
      </figure>
      <h4 translate="BRANDING_CARE_TITLE"></h4>
      <button translate="HOME-CONSULT_CONTACT_US"></button>
    </div>
  </div>
</div>
