<div class="product-design">
  <div class="product-design__wrapper">
    <div class="product-design__header" fxLayout fxLayoutAlign="center center">
      <div
        [fxFlex]="currentDir === 'rtl' ? 53 : 53"
        [fxFlexOrder]="currentDir === 'rtl' ? 2 : 1"
        [fxFlex.lt-sm]="currentDir === 'rtl' ? 90 : 90"
        fxLayout.lt-sm="column"
        fxLayoutAlign.lt-sm="center center"
      >
        <h1
          fxFlexAlign="start"
          fxLayout.lt-md="center"
          class="animate__animated animate__backInLeft"
        >
          {{ "PRODUCT_DESIGN.HEADER.TITLE" | translate }}
        </h1>
        <ul
          fxLayout="column"
          fxLayoutAlign="center start"
          fxFlexAlign.lt-md="center"
          class="animate__animated animate__backInUp"
        >
          <li>
            <span>&#x2752;</span>
            {{ "PRODUCT_DESIGN.HEADER.DESCRIPTION" | translate }}
          </li>
        </ul>
      </div>
      <figure
        fxFlex="32"
        [fxFlexOrder]="currentDir === 'rtl' ? 1 : 2"
        fxHide.lt-md
        class="animate__animated animate__fadeInRight"
      >
        <cl-image class="image" public-id="header-bg_qqixin.png"> </cl-image>
      </figure>
    </div>
  </div>

  <div
    class="product-design__steps"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <h3 data-aos="fade-up" data-aos-duration="1500">
      {{ "PRODUCT_DESIGN.PRODUCT_NAME" | translate }}
    </h3>
    <p data-aos="fade-up" data-aos-duration="1500">
      {{ "PRODUCT_DESIGN.PRODUCT_DEFINITION" | translate }}
    </p>
    <figure fxLayout data-aos="fade-up" data-aos-duration="1500">
      <cl-image class="image" public-id="01-min_zyf3k4.png"> </cl-image>
    </figure>
    <div
      class="product-design__steps__first-step"
      fxLayout
      fxLayoutAlign="space-between center"
      fxLayout.lt-sm="column"
    >
      <figure
        fxFlex="40"
        fxFlex.lt-sm="100"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <cl-image class="image" public-id="02-min_ndl97j.png"> </cl-image>
      </figure>
      <div
        fxFlex="50"
        fxLayout="column"
        fxLayoutAlign="space-between start"
        fxLayoutAlign.lt-sm="center center"
      >
        <h4 data-aos="fade-up" data-aos-duration="1500">
          {{ "PRODUCT_DESIGN.FIRST_STEP.TITLE" | translate }}
        </h4>
        <ul data-aos="fade-up" data-aos-duration="1500">
          <li>
            <span>&#x2752;</span
            ><span>{{
              "PRODUCT_DESIGN.FIRST_STEP.EXPLORATION.TITLE" | translate
            }}</span
            ><span>{{
              "PRODUCT_DESIGN.FIRST_STEP.EXPLORATION.STEP_1" | translate
            }}</span
            ><span>
              {{ "PRODUCT_DESIGN.FIRST_STEP.EXPLORATION.STEP_2" | translate }}
            </span>
          </li>
          <li>
            <span>&#x2752;</span
            ><span>{{
              "PRODUCT_DESIGN.FIRST_STEP.SELECTION.TITLE" | translate
            }}</span
            ><span>{{
              "PRODUCT_DESIGN.FIRST_STEP.SELECTION.STEP_1" | translate
            }}</span
            ><span>
              {{ "PRODUCT_DESIGN.FIRST_STEP.SELECTION.STEP_2" | translate }}
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div fxLayout style="margin-bottom: 0.3em" fxLayout.lt-sm="column">
      <figure
        fxLayout
        fxLayoutAlign="center center"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <cl-image public-id="05-min_gegt6b.png"> </cl-image>
      </figure>
      <figure
        data-aos="fade-up"
        data-aos-duration="1500"
        fxLayout
        fxLayoutAlign="center center"
        style="margin: 0 0.3em"
      >
        <cl-image class="image" public-id="04-min_ougcob.png"> </cl-image>
      </figure>
      <figure
        data-aos="fade-up"
        data-aos-duration="1500"
        fxLayout
        fxLayoutAlign="center center"
      >
        <cl-image class="image" public-id="03-min_uhkuhx.png"> </cl-image>
      </figure>
    </div>
    <div
      class="product-design__steps__second-step"
      fxLayout
      fxLayout.lt-sm="column"
      fxLayoutAlign="space-between center"
    >
      <div
        fxFlex="50"
        fxLayout="column"
        fxLayoutAlign="space-between start"
        fxLayoutAlign.lt-sm="center center"
      >
        <h4 data-aos="fade-up" data-aos-duration="1500">
          {{ "PRODUCT_DESIGN.SECOND_STEP.TITLE" | translate }}
        </h4>
        <ul data-aos="fade-up" data-aos-duration="1500">
          <li>
            <span>&#x2752;</span
            ><span>{{
              "PRODUCT_DESIGN.SECOND_STEP.DESIGN.TITLE" | translate
            }}</span
            ><span
              >{{
                "PRODUCT_DESIGN.SECOND_STEP.DESIGN.STEP_1" | translate
              }} </span
            ><span>
              {{ "PRODUCT_DESIGN.SECOND_STEP.DESIGN.STEP_2" | translate }}
            </span>
          </li>
          <li>
            <span>&#x2752;</span
            ><span>{{
              "PRODUCT_DESIGN.SECOND_STEP.PRODUCT_TESTING.TITLE" | translate
            }}</span
            ><span>{{
              "PRODUCT_DESIGN.SECOND_STEP.PRODUCT_TESTING.STEP_1" | translate
            }}</span
            ><span
              >{{
                "PRODUCT_DESIGN.SECOND_STEP.PRODUCT_TESTING.STEP_2" | translate
              }}
            </span>
          </li>
        </ul>
      </div>
      <figure data-aos="fade-up" data-aos-duration="1500" fxFlex="40">
        <cl-image class="image" public-id="06-min_gnvnps.png"> </cl-image>
      </figure>
    </div>
    <div fxLayout fxLayout.lt-sm="column" style="margin-bottom: 0.3em">
      <figure
        data-aos="fade-up"
        data-aos-duration="1500"
        fxLayout
        fxLayoutAlign="center center"
      >
        <cl-image class="image" public-id="09-min_vzrokg.png"> </cl-image>
      </figure>
      <figure
        data-aos="fade-up"
        data-aos-duration="1500"
        fxLayout
        fxLayoutAlign="center center"
        style="margin: 0 0.3em"
      >
        <cl-image class="image" public-id="08-min_kofvma.png"> </cl-image>
      </figure>
      <figure
        data-aos="fade-up"
        data-aos-duration="1500"
        fxLayout
        fxLayoutAling="center center"
      >
        <cl-image class="image" public-id="07-min_yrugre.png"> </cl-image>
      </figure>
    </div>
    <div fxLayout fxLayout.lt-sm="column" style="margin-bottom: 0.3em">
      <figure
        data-aos="fade-up"
        data-aos-duration="1500"
        fxLayout
        fxLayoutAlign="center center"
      >
        <cl-image class="image" public-id="12-min_s5qroe.png"> </cl-image>
      </figure>
      <figure
        data-aos="fade-up"
        data-aos-duration="1500"
        fxLayout
        fxLayoutAlign="center center"
        style="margin: 0 0.3em"
      >
        <cl-image class="image" public-id="11-min_s2jh0j.png"> </cl-image>
      </figure>
      <figure
        data-aos="fade-up"
        data-aos-duration="1500"
        fxLayout
        fxLayoutAling="center center"
      >
        <cl-image class="image" public-id="10-min_trkrhs.png"> </cl-image>
      </figure>
    </div>
    <div
      class="product-design__steps__product-show"
      fxLayout
      fxLayout.lt-sm="column"
      fxLayoutAlign="space-between center"
    >
      <figure data-aos="fade-up" data-aos-duration="1500" fxFlex="40">
        <cl-image class="image" public-id="13-min_n0wd1o.png"> </cl-image>
      </figure>
      <div
        fxFlex="50"
        fxLayout="column"
        fxLayoutAlign="space-between start"
        fxLayoutAlign.lt-sm="center center"
      >
        <h4 data-aos="fade-up" data-aos-duration="1500">
          {{ "PRODUCT_DESIGN.PRODUCT_SHOW.TITLE" | translate }}
        </h4>
        <ul data-aos="fade-up" data-aos-duration="1500">
          <li>
            <span>&#x2752;</span
            ><span
              >{{ "PRODUCT_DESIGN.PRODUCT_SHOW.STEP_1" | translate }}
            </span>
          </li>
          <li>
            <span>&#x2752;</span
            ><span>
              {{ "PRODUCT_DESIGN.PRODUCT_SHOW.STEP_2" | translate }}</span
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      data-aos="fade-up"
      data-aos-duration="1500"
      class="product-design__gif"
      fxLayout
      fxLayoutAlign="center center"
    >
      <figure fxLayout fxLayoutAlign="center center">
        <img width="75" height="75" src="assets/images/product-design.gif" />
      </figure>
    </div>
    <div
      class="product-design__care"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <figure data-aos="fade-up" data-aos-duration="1500">
        <cl-image class="image" public-id="Group_211_ttkzx5.png"> </cl-image>
      </figure>
      <h4
        data-aos="fade-up"
        data-aos-duration="1500"
        translate="BRANDING_CARE_TITLE"
      ></h4>
      <button
        data-aos="fade-up"
        data-aos-duration="1500"
        translate="HOME-CONSULT_CONTACT_US"
        (click)="triggerScrollToContactUs()"
      ></button>
    </div>
  </div>
</div>
