@import "./src/styles.scss";

.single-blog {
  &__cover {
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 2em;

    figure {
      padding: 0;
      margin: 0;

      image {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__content {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 1em;

    @media screen and (max-width: 599px) {
      font-size: 8px;
    }

    h2 {
      font-size: 4em;
      text-align: center;
    }

    h3 {
      font-size: 2em;
    }

    h4 {
      font-size: 1.5em;
      margin-bottom: 0;
    }

    p {
      font-size: 1.6em;
      color: #737373;
      line-height: 1.5;
    }
  }

  &__others {
    margin: 0 auto;
    max-width: 1024px;
    padding: 1em;

    @media screen and (max-width: 599px) {
      font-size: 8px;
    }

    &__title {
      font-size: 4em;
      border-bottom: 6px solid $secondary-color;

      @media screen and (max-width: 599px) {
        border-bottom-width: 5px;
      }
    }

    figure {
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      min-height: 150px;
      max-height: 150px;
      overflow: hidden;
      margin-bottom: 10px;

      margin-top: 1em;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
      }
    }

    strong {
      font-size: 1em;
      font-weight: normal;
    }

    h3 {
      font-size: 1.5em;
      text-align: center;
      margin: 10px 0;
    }

    p {
      font-size: 1em;
      color: #737373;
      text-align: center;
      line-height: 1.5;
    }

    button {
      background-color: $secondary-color;
      color: #000;
      padding: 0.5em 2em;
      border-radius: 5px;
      outline: 0;
      border: 0;
      margin-bottom: 2em;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: #000;
        color: $secondary-color;
        border-radius: 0;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: all 0.5s ease-out;
      }
    }
  }
}
