@import "./src/styles.scss";

.blog {
  &__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1em;
  }

  &__header {
    background-image: url("../../../assets/images/rectangle.png"),
      url("../../../assets/images/ellipse.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 85% 0%, 20% 85%;
    background-size: auto, auto;
    margin-bottom: 3em;

    @media screen and (max-width: 959px) {
      background-image: url("../../../assets/images/rectangle.png"),
        url("../../../assets/images/ellipse.png");
      background-repeat: no-repeat, no-repeat;
      background-position: 85% 0%, 20% 85%;
      padding-top: 12em;
      font-size: 7px;
      margin-bottom: 0;
    }

    h1 {
      color: gray;
      margin: 0;
      margin-bottom: 1em;
      font-size: 10em;
      text-align: center;
      border-bottom: 15px solid $secondary-color;
      line-height: 0.37;
      display: inline-block;
      text-transform: uppercase;
      margin-top: 0.4em;

      @media screen and (max-width: 599px) {
        line-height: 0.26;
      }
    }

    figure {
      padding: 0;
      margin: 0;
      padding-top: 4em;
    }
  }

  &__cards {
    @media screen and (max-width: 599px) {
      font-size: 8px;
    }

    figure {
      margin: 0;
      padding: 0;
      margin-bottom: 10px;

      img {
        height: 100%;
        width: 100%;
        cursor: pointer;
      }
    }

    strong {
      font-size: 1.3em;
      font-weight: normal;
    }

    h3 {
      font-size: 2.4em;
      text-align: center;
      margin: 10px 0;
    }

    p {
      font-size: 1.6em;
      color: #737373;
      text-align: center;
      line-height: 1.5;
    }

    button {
      background-color: $secondary-color;
      color: #000;
      padding: 0.5em 2em;
      border-radius: 5px;
      outline: 0;
      border: 0;
      margin-bottom: 2em;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: #000;
        color: $secondary-color;
        border-radius: 0;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: all 0.5s ease-out;
      }
    }
  }
}
