<div class="blog">
  <div class="blog__wrapper">
    <section class="blog__header" fxLayout fxLayoutAlign="center center">
      <h1 fxFlex="22">{{ "BLOG.HEADER" | translate }}</h1>
      <figure fxFlex="32">
        <cl-image class="image" public-id="header-bg_qqixin.png"> </cl-image>
      </figure>
    </section>

    <section class="blog__cards">
      <div *ngFor="let blog of blogs">
        <p>
          {{ "BLOG." + blog?.categoryName | translate }} |
          {{ "BLOG." + blog?.date | translate }}
        </p>
        <h3>{{ "BLOG." + blog?.title | translate }}</h3>
        <p>
          {{ "BLOG." + blog?.paragraph | translate }}
        </p>
      </div>
    </section>
  </div>
</div>
