@import './src/styles.scss';

.home {
  &__wrapper {
  }

  &__header {
    max-width: 1024px;
    margin: 0 auto;
    background-image: url('../../../assets/images/rectangle.png'),
      url('../../../assets/images/ellipse.png');
    background-position: 70% 5%, 65% 85%;
    background-repeat: no-repeat, no-repeat;

    padding: 5.5em;
    text-align: center;
    line-height: 2em;
    font-size: 1.4em;
    font-weight: 350;
    span {
      color: $secondary-color;
      font-size: 1.6em;
    }
  }

  &__check {
    background-image: url('../../../assets/images/rectangle-bg.png');
    background-repeat: no-repeat;
    background-size: cotnain;

    &__wrapper {
      max-width: 1024px;
      margin: 0 auto;

      img {
        height: 100%;
        width: 100%;
      }

      p {
        font-size: 3em;
        letter-spacing: 1px;
        font-weight: 500;
        span {
          font-size: 1.2em;
          font-weight: 650;
        }
      }
    }
  }
}
