@import "./src/styles.scss";

.home {
  @media screen and (max-width: 599px) {
    font-size: 8.5px;
  }

  &__header {
    max-width: 1024px;
    margin: 0 auto;
    background-image: url("../../../assets/images/rectangle.png"),
      url("../../../assets/images/ellipse.png");
    background-position: 70% 5%, 65% 85%;
    background-repeat: no-repeat, no-repeat;
    padding: 5.5em;
    text-align: center;
    line-height: 2em;
    font-size: 1.4em;
    font-weight: 350;

    @media screen and (max-width: 599px) {
      padding-bottom: 2em;
    }

    span {
      color: $secondary-color;
      font-size: 1.6em;
      margin: 0 0.3em;
    }
  }

  &__check {
    background-image: url("../../../assets/images/rectangle-bg.png");
    background-repeat: no-repeat;

    &__wrapper {
      max-width: 1024px;
      margin: 0 auto;

      img {
        height: 100%;
        width: 100%;

        @media screen and (max-width: 599px) {
          height: 75%;
          width: 75%;
        }
      }

      p {
        font-size: 3em;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
        word-spacing: 0.2em;
        span {
          font-size: 1.2em;
          font-weight: 650;
        }
      }
    }
  }

  &__consult {
    padding: 6em 0;

    @media screen and (max-width: 599px) {
      padding: 3em 1em;
    }

    &__wrapper {
      max-width: 1024px;
      margin: 0 auto;
    }

    &__image {
      img {
        height: 100%;
        width: 100%;
      }
    }

    &__text {
      @media screen and (max-width: 599px) {
        margin-bottom: 4em;
        text-align: center;
      }

      h3 {
        font-size: 3em;
        letter-spacing: 0.5px;
        margin-bottom: 0.75em;
        line-height: 1.4;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        letter-spacing: 0.5px;
        font-size: 1.3em;

        li {
          margin-bottom: 0.8em;
        }
      }

      button {
        background-color: $secondary-color;
        color: #000;
        font-size: 1.3em;
        padding: 0.5em 2.5em;
        border: 0;
        border-radius: 5px;
        margin-top: 1em;
        outline: 0;
        cursor: pointer;
        box-shadow: 3px 3px 6px 6px rgba(grey, 0.1);
      }
    }
  }

  &__clients {
    &__wrapper {
      max-width: 1024px;
      margin: 0 auto;

      h3 {
        text-align: center;
        font-size: 3em;
        border-bottom: 7px solid $secondary-color;
        line-height: 0.8;
        display: inline-block;
      }

      .swiper-container {
        figure {
          margin: 0;
          padding: 0;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
