@import "./src/styles.scss";

.footer {
  background-color: rgba(black, 0.85);

  &__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 2em 1em;
  }

  &__logo {
    @media screen and (max-width: 599px) {
      text-align: center;
      img {
        height: 75%;
        width: 75%;
      }
    }
  }

  @media screen and (max-width: 599px) {
    &__form {
      margin-bottom: 1em;

      h3 {
        text-align: center;
      }
    }

    &__contact {
      margin-bottom: 1.5em;
    }
  }

  &__form {
    h3 {
      letter-spacing: 1px;
      color: $secondary-color;
      font-weight: 0;
      font-size: 1.3em;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    input,
    textarea {
      border: 0;
      border-radius: 10px;
      padding: 0.85em;
      outline: 0;
      margin-bottom: 1rem !important;
      font-size: 1em;
    }

    button {
      border: 0;
      border-radius: 10px;
      outline: 0;
      padding: 0.5em 1.5em;
      font-size: 1.1em;
      background-color: $secondary-color;
      color: $main-color;
      letter-spacing: 1px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__contact {
    color: rgba(white, 0.7);
    font-size: 1.4em;
    letter-spacing: 1px;

    p {
      margin-bottom: 0;
    }

    fa-icon {
      color: $secondary-color;
      font-size: 1.3em;
      margin: 0 0.5em;
    }

    @media screen and (max-width: 599px) {
      text-align: center;
      &__address {
        line-height: 1.7;
      }
    }
  }

  hr {
    background-color: rgba(white, 0.2);
    padding-bottom: 1px;
    border: 0;
    margin-bottom: 1em;
    width: 60%;
  }

  &__social {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1em;

    fa-icon {
      margin-right: 1em;
      font-size: 1.1em;
      color: #fff;
      cursor: pointer;
    }

    .linkedIn:hover {
      color: rgb(0, 115, 177);
      transition: all 0.5s ease;
    }

    .google:hover {
      color: red;
      transition: all 0.5s ease;
    }

    .twitter:hover {
      color: rgba(29, 161, 242, 1);
      transition: all 0.5s ease;
    }

    .facebook:hover {
      color: #385898;
      transition: all 0.5s ease;
    }
  }
}
